/* Filters */
.wsuwp-scholarships-toggle-filters {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: .5rem;
}

.wsuwp-scholarships-toggle-filters a {
	padding-right: 1em;
	position: relative;
}

.wsuwp-scholarships-toggle-filters a:after {
	content: "+";
	font-weight: 400;
	line-height: normal;
	position: absolute;
	right: 0;
	top: 0;
	transition: transform .4s;
}

.wsuwp-scholarships-toggle-filters.close-filters a:after {
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

.display-after-submit {
	display: none;
}

.wsuwp-scholarships-filters {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 1rem;
	overflow: hidden;
}

.wsuwp-scholarships-filters div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	    flex: 1;
	-ms-flex-direction: column;
	    flex-direction: column;
	height: 250px;
	max-height: 250px;
	max-width: 50%;
	padding: 0 .5rem;
}

.wsuwp-scholarships-filters-prefix {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	font-size: 14px;
	padding: 0 .5rem;
}

.wsuwp-scholarships-filters div p {
	font-size: 14px;
	padding-bottom: 1em;
}

.wsuwp-scholarships-filters ul {
	background-color: #d7dadb;
	box-sizing: border-box;
	-ms-flex: 1;
	    flex: 1;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0;
}

.wsuwp-scholarships-filters li {
	font-size: .9em;
	list-style: none;
	padding: 0;
}

.wsuwp-scholarships-filters input {
	display: none;
}

.wsuwp-scholarships-filters label {
	display: block;
	font-size: 1em;
	font-weight: 400;
	padding: .25rem .5rem;
}

.wsuwp-scholarships-filters label:hover {
	background: #717171;
	color: #fff;
	cursor: pointer;
}

.wsuwp-scholarships-filters input:checked + label {
	background: #981e32;
	color: #fff;
}

.wsuwp-scholarships-count {
	font-style: italic;
	padding: 4rem 0 0;
}

/* Table */
.wsuwp-scholarships-header,
.wsuwp-scholarships article {
	display: -ms-flexbox;
	display: flex;
}

.wsuwp-scholarships article.hidden {
	display: none;
}

.name,
.amount,
.deadline,
.apply {
	box-sizing: border-box;
	padding: 1rem;
}

.name {
	-ms-flex: 1;
	    flex: 1;
}

.name svg {
	vertical-align: top;
}

.amount,
.deadline {
	padding-left: 0;
	width: 110px;
}

.apply {
	padding-left: 0;
	width: 70px;
}

.apply a:after {
	content: "\21AA";
	font-family: Spine-Icons;
	font-size: 12px;
	margin-left: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wsuwp-scholarships-header a {
	border-bottom: none;
	color: #4e4e4e;
	font-size: .9em;
	font-weight: 400;
	letter-spacing: 1px;
	position: relative;
	padding-right: 1rem;
	text-transform: uppercase;
	transition: color .4s;
}

.wsuwp-scholarships-header a.sorted {
	color: #981e32;
}

.wsuwp-scholarships-header a:hover {
	background: none;
	border-bottom: none;
	color: #c60c30;
}

.wsuwp-scholarships-header a:before,
.wsuwp-scholarships-header a:after {
	border: solid transparent;
	border-width: 6px 4px;
	box-sizing: border-box;
	content: "";
	height: 12px;
	position: absolute;
	right: 0;
	transition: border-color .4s;
}

.wsuwp-scholarships-header a:before {
	border-bottom-color: #b7b7b7;
	top: -5px;
}

.wsuwp-scholarships-header a:after {
	border-top-color: #b7b7b7;
	bottom: -5px;
}

.wsuwp-scholarships-header .sorted:after {
	border-top-color: #981e32;
}

.wsuwp-scholarships-header .sorted.asc:after {
	border-top-color: #b7b7b7;
}

.wsuwp-scholarships-header .sorted.asc:before {
	border-bottom-color: #981e32;
}

.wsuwp-scholarships-header a:hover:before,
.wsuwp-scholarships-header .sorted.asc:hover:before {
	border-bottom-color: #c60c30;
}

.wsuwp-scholarships-header a:hover:after,
.wsuwp-scholarships-header .sorted:hover:after,
.wsuwp-scholarships-header .sorted.asc:hover:after {
	border-top-color: #c60c30;
}

.wsuwp-scholarships article:nth-of-type(odd) {
	background-color: #eff0f1;
}

/* Loading animation */

@keyframes spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wsuwp-scholarships-loading {
	animation: spin 1s infinite linear;
	border: .25rem solid rgba(113, 113, 113, .5);
	border-radius: 50%;
	border-top-color: #981e32;
	height: 2rem;
	margin: 0 auto;
	width: 2rem;
}

.wsuwp-scholarships-tools {
	display: none;
	max-width: 1584px;
	position: relative;
	text-align: right;
	z-index: 1;
}

.back-to-top {
	border: 20px solid transparent;
	border-bottom-color: rgba(113, 113, 113, .5);
	border-top: 0;
	bottom: 1rem;
	font-size: 0;
	line-height: 0;
	position: fixed;
	transition: border-bottom-color .4s;
}

.back-to-top:hover {
	background: none;
	border-bottom: 20px solid #981e32;
}

@media screen and (max-width: 791px) {

	.wsuwp-scholarships-filters div {
		box-sizing: border-box;
		-ms-flex: auto 0;
		    flex: auto 0;
		width: calc(100% / 3);
	}
}

@media only screen and (min-width: 531px) {

	.wsuwp-scholarships-header .deadline {
		margin-right: 70px;
	}

	.apply {
		width: 70px;
	}
}

@media only screen and (max-width: 530px) {

	.wsuwp-scholarships-filters div {
		width: 50%;
	}

	.wsuwp-scholarships-header,
	.wsuwp-scholarships article {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: end;
		    justify-content: flex-end;
	}

	.name {
		-ms-flex: 1 0 100%;
		    flex: 1 0 100%;
		padding-bottom: .25rem;
	}

	.amount,
	.deadline {
		text-align: right;
		width: 50%;
		padding-bottom: .25rem;
		padding-top: .25rem;
	}

	.apply {
		padding-top: .25rem;
	}

	.amount:empty,
	.deadline:empty,
	.apply:empty {
		padding-bottom: 0;
	}

	.wsuwp-scholarships-header {
		padding-bottom: .5rem;
		position: relative;
	}

	.wsuwp-scholarships-header:before {
		content: "Sort by: ";
		font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
		font-size: .9em;
		font-weight: 400;
		left: 1rem;
		letter-spacing: 1px;
		position: absolute;
		text-transform: uppercase;
	}

	.wsuwp-scholarships-header div {
		-ms-flex: 1 0 100%;
		    flex: 1 0 100%;
		padding: 0 1rem .5rem;
		text-align: right;
	}
}
