.wsuwp-scholarship-fieldset {
	display: flex;
	margin-bottom: 1rem;
}
.wsuwp-scholarship-fieldset label {
	width: 100%;
}
.wsuwp-scholarship-fieldset label + label,
.wsuwp-scholarship-fieldset div label {
	margin-left: 1rem;
}
.wsuwp-scholarship-fieldset div {
	flex: 1;
}
.wsuwp-scholarship-fieldset select {
	font-size: 1em;
	margin: 0.5em 0 0 1rem;
}
#wp-scholarship_org-wrap {
	margin-top: 1em;
}
[name^=wsuwp_scholarship]:not(:focus):invalid {
	border-color: #c60c30;
}
